@model Ekip2.Presentation.Models.ChangePasswordVMs.IsFirstLoginChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Application</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

        .shape:first-child {
            background: linear-gradient(#c63dff, #e4a3ff);
            left: -120px;
            top: -120px;
        }

        .shape:last-child {
            background: linear-gradient(to right, #ff512f, #f09819);
            right: -120px;
            bottom: -120px;
        }

        form {
            width: 400px;
            background-color: rgba(255, 255, 255, 0.13);
            position: relative;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
            color: black;
        }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
            color: black;
        }

        .input-group {
            position: relative;
            margin-top: 8px;
        }

        .input-group input {
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 3px;
            padding-right: 40px; /* Göz veya  işaretine yer açmak için padding ekleyin */
            padding-left: 10px; /* Girilen metnin başlangıcı için padding ekleyin */
            font-size: 14px;
            font-weight: 300;
            color: #3b5998;
            border: 1px solid #3b5998;
            box-sizing: border-box; /* İç padding'i kutuya dahil edin */
        }

        .input-group .input-group-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px; /* Sağdan mesafeyi ayarlayın */
            background-color: transparent;
            border: none;
            color: #3b5998;
            font-size: 1.2em;
            cursor: pointer;
        }

        ::placeholder {
            color: black;
        }

        button {
            margin-top: 50px;
            width: 100%;
            background-color: #c63dff;
            color: #ffffff;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            border: none;
        }

        button:hover {
            background-color: #7b1fa2;
        }

        .g-recaptcha {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="ChangePassword">
        <h3>Change Password</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <label asp-for="OldPassword" class="control-label">Old Password</label>
        <div class="input-group">
            <input type="password" asp-for="OldPassword" placeholder="Old Password" required/>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <label asp-for="NewPassword" class="control-label">New Password</label>
        <div class="input-group">
            <input type="password" asp-for="NewPassword" placeholder="New Password" required />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>

        <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
        <div class="input-group">
            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="g-recaptcha" data-sitekey="6LfYBQMqAAAAAApgZk5O_KNp2xYI-Ogrr5036mVd"></div>
        <input type="hidden" name="RecaptchaResponse" id="RecaptchaResponse" asp-for="RecaptchaResponse" />
        <span asp-validation-for="RecaptchaResponse" class="text-danger"></span>
        <br />
        <br />
        <div class="buttons">
            <button type="submit">Change Password</button>
        </div>
    </form>

    <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
    <script>
        document.querySelector('form').addEventListener('submit', function (e) {
            var response = grecaptcha.getResponse();
            document.getElementById('RecaptchaResponse').value = response;
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#success-message").fadeOut("slow", function () {
                    $(this).remove();
                });
                $("#error-message").fadeOut("slow", function () {
                    $(this).remove();
                });
            }, 3000);
        });
    </script>
    <style>
        .custom-alert {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1050;
            width: auto;
            min-width: auto;
            max-width: auto;
        }
    </style>

    @if (TempData["SuccessMessage"] != null)
    {
        <div id="success-message" class="alert alert-success custom-alert">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div id="error-message" class="alert alert-danger custom-alert">
            @TempData["ErrorMessage"]
        </div>
    }
</body>
</html>
